#myVideo ,#alternative{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    bottom: 30%;
    color: white;
    width: 75%;
    padding: 20px;
    left:25%;
  }

#textdocs{
    padding: 10px 36px;
    color: #c0cddd;
    border-bottom: white solid 2px; 
    margin-right: 30px;
}
  
.divnavbar{
    position: relative;
    right: 35%;
  
}
.imagenav{
  animation: float9 4s ease-in-out infinite;
  position: relative;
  left: 25%;
  bottom: -100px
}
@keyframes float9{
  0%{
      transform: translate(-50%,-46%);
  }
  50%{
      transform: translate(-50%,-54%);
  }
  100%{
      transform: translate(-50%,-46%);
  }
  }


.loginform{
  /* margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content; */
}

#divlogin{
  width: 100%;
  height: 100vh;
  /* background-image: url('https://www.save.life/site/themes/savelife/assets/images/features/connect.svg'); */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#sectionlogin{
  background-image:  radial-gradient(#CE1212 , #810000,#1B1717);
 
  position: absolute;
  width: 100%;
  height: 100vh;
  top:     -10000px;
  overflow: hidden;
}
#sectionsignup{
  background-image:  radial-gradient(#CE1212 , #810000,#1B1717);
  position: absolute;
  width: 100%;
  height: 130vh;
  top:     -10000px;
  overflow: hidden;
}
#sectionsignuphospital{
  background-image:  radial-gradient(#CE1212 , #810000,#1B1717);
  position: absolute;
  width: 100%;
  height: 130vh;
  top:     -10000px;
  overflow: hidden;
}
#divsignup{
  width: 100%;
  height: 130vh;
  /* background-image: url('https://www.save.life/site/themes/savelife/assets/images/features/connect.svg'); */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.divclose{
  position: absolute;
  top: 0;
  left: 0;
}

#section3{
  background-image: linear-gradient(#1B1717,#810000, #CE1212);
  width:45%;
  height: 60vh;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin-right: 50px;

}
#section3:hover{
  box-shadow: 2px 2px 8px 0 rgb(128 128 128) !important;
  border-radius: 27px !important;
  transform: translateX(0px) translateY(-5px) scale(1.1) !important;
  transition-duration: 1s;
  
}


#section3img:hover{
  box-shadow: 2px 2px 8px 0 rgb(128 128 128) !important;
  border-radius: 27px !important;
  transform: translateX(0px) translateY(-5px) scale(1.1) !important;
  transition-duration: 1s;
  border: 20px solid transparent;

}

.u-file-icon img {
  object-fit: contain;
  width: 8%;
  height: 8%;
  border-style: none;
  
}

#text{
  margin-left: 30px
}


#footer{
  background-image: linear-gradient(#bb0a1e, #6d7c8e);
  
}


.frombakc{
  background-color: EEEBDD;
}

#sectiondata{
  background-color:#EEEBDD
}









#imagehospital{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}
.isteqlal{
  text-align: center;
  color:white;
  font-size: 50px
  
}

.background{
  background-image: linear-gradient(#bb0a1e, #6d7c8e);
  background-position: 100% 100%;
  ;
}

.form-hos{
  text-align: center;
  margin-right: 120px;
  /* box-sizing: inherit; */
}
.form-label{
  color:white;
  margin: 10px


}
.search{
  border-width: 2px;
  font-weight: 600;
  border-color: #ff2e2e!important;
  background: transparent;
  color: white;
  transition: all .3s;

  line-height: 0;
  height: 40px;
  /* display: -webkit-box; */
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  padding: calc(0.375em - 1px) 1em calc(0.375em - 1px) 0.75em!important;
  text-align: center;
  position: relative;
  vertical-align: top; 
  display: flex;
  margin-left:70%;
  bottom: 42px;
  right:20px;
  border-radius:5px
}
.search:hover{
  background: linear-gradient(to top right,#bb0a1e,#c61469)!important;

}

#title-name{
  margin-bottom: 50px
}


#small{
  color:whitesmoke
}
/***********************************************************************************************/
/* Section Four */
/***********************************************************************************************/
.section-content-block {
  padding: 100px 0 100px 0;
  background: #EEEBDD
}
.section-heading-wrapper {
  margin-bottom: 32px;
}
.section-process {
  position: relative;
  overflow: hidden;
}
.process-layout {
  margin: 32px 0 0;
  text-align: left;
  position: relative;
  padding: 0;
  background: #F8F9FA;
}
.process-layout .process-img {
  position: relative;
}
.process-layout .process-img img {
  vertical-align: middle;
  width: 100%;
}
.process-layout .process-img .step h3 {
  color: #FFFFFF;
  bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
  position: absolute;
  right: 30px;
  text-align: center;
  z-index: 9999;
  
}
.process-layout .process-img .step:after {
  background: #f51e29;
  bottom: 0;
  content: "";
  height: 100px;
  opacity: 0.7;
  position: absolute;
  right: 0;
  width: 100px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.process-layout h2 {
  font-size: 28px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.01em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  color: #1A1A1A;
}
.process-layout:hover .process-img .step:after {
  opacity: 1;
}
.process-info {
  padding: 32px 16px;
  text-align: left;
}



.section-heading:after {
  background-image: url(/img/newImg.png);
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 24px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  top: 55px;
  width: 150px;
}




@media (min-width: 1200px) {
  .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9 {
      float:left
  }
  .col-lg-3 {
      width: 25%
  }


}



#sec4img{
  width: 400px;
  text-align: center;
  display: block;
  margin-left: 60px;
  display: flex;
  justify-content: center;
}

#article{
  background-image: linear-gradient( #bb0a1e,#0f1824);
  color: white;
}
#h2-sec4{
  color: white;  
}


/***********************************************************************************************/
/* Section Five */
/***********************************************************************************************/


#step{
  border-radius: 50px;
}